.mycont{
    position: relative;
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    vertical-align: middle;
    display: block;
}
.margin-top8{
    margin-top: 8%;
}
.somefont{
    font-family: "Comic Sans MS",cursive,sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #4e82be;
}

